@model List<TotalRecall.Models.TRApplication>
<style>
    .table td a {
        text-decoration:none;
        color:inherit;
        display: block;
    }
</style>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Public Key</th>
            <th>Last Updated</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a asp-action="View" asp-route-PublicKey="@item.PublicKey">@item.Name</a></td>
                <td><a asp-action="View" asp-route-PublicKey="@item.PublicKey">@item.Description</a></td>
                <td><a asp-action="View" asp-route-PublicKey="@item.PublicKey">@item.PublicKey.ToString()</a></td>
                <td><a asp-action="View" asp-route-PublicKey="@item.PublicKey">@item.LastUpdated.ToString()</a></td>
            </tr>
        }
    </tbody>
</table>